DEBUG=True
SECRET_KEY=change-this-secret-key
ALLOWED_HOSTS=127.0.0.1,localhost

DB_ENGINE=django.db.backends.postgresql
DB_NAME=codeguardian_db
DB_USER=codeguardian_user
DB_PASSWORD=codeguardian_password
DB_HOST=db
DB_PORT=5432